html {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: lightgrey;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.background-image {
  padding-top: 25px;
  background-image: url("images/hero.jpg");
  background-size: cover;
  height: 100%;
}
